<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Message</title>
</head>
<body>
    <h3>write new chat...</h3>
    <form method="post" action="/chats">
        <div>
            <input placeholder="who are you?" name="from"> &nbsp;&nbsp;&nbsp;
            <input placeholder="add receiver" name="to">
        </div> <br>
        <textarea name="msg" placeholder="Enter your messeage here!"></textarea> <br><br>
        <button>Send</button>
    </form>
</body>
</html>